# 1.DataFrame的结构

In [1]:
import pandas as pd
import numpy as np
#设定最大列数和最大行数
pd.set_option('max_columns',8,'max_rows',10)

In [2]:
#用read_csv()方法读取csv文件
movie = pd.read_csv('data/movie.csv')
movie.head()

,color,director_name,num_critic_for_reviews,duration,...,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,...,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,...,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,...,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,...,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,...,12.0,7.1,NaN,0

# 2.访问DataFrame的组件

In [3]:
#提取列索引
columns = movie.columns
#提取行索引
index = movie.index
#提取数据
data = movie.values

In [4]:
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [5]:
index

RangeIndex(start=0, stop=4916, step=1)

In [6]:
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [7]:
#index的类型
type(index)

pandas.core.indexes.range.RangeIndex

In [8]:
#columns的类型
type(columns)

pandas.core.indexes.base.Index

In [9]:
#data的类型
type(data)

numpy.ndarray

In [10]:
#判断是不是子类型
issubclass(pd.RangeIndex,pd.Index)

True

In [11]:
#访问index的值
index.values

array([   0,    1,    2, ..., 4913, 4914, 4915], dtype=int64)

In [12]:
columns.values

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'], dtype=object)

# 3.理解数据类型

In [13]:
#各列的类型
movie.dtypes

color                       object
director_name               object
num_critic_for_reviews     float64
duration                   float64
director_facebook_likes    float64
                            ...
title_year                 float64
actor_2_facebook_likes     float64
imdb_score                 float64
aspect_ratio               float64
movie_facebook_likes         int64
Length: 28, dtype: object

In [14]:
#显示各类型的数量
movie.get_dtype_counts()

float64    13
int64       3
object     12
dtype: int64

# 4.选择一列数据，作为Series

In [15]:
#选择director_name这列
movie['director_name']

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [16]:
#也可以通过属性的方式选取
movie.director_name

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [17]:
#查看类型
type(movie['director_name'])

pandas.core.series.Series

In [18]:
type(movie.director_name)

pandas.core.series.Series

In [19]:
director = movie.director_name
director.name

'director_name'

In [20]:
#单列Series转换为DataFrame
director.to_frame().head()

       director_name
0      James Cameron
1     Gore Verbinski
2         Sam Mendes
3  Christopher Nolan
4        Doug Walker

# 5.调用Series方法

In [22]:
#查看Series所有不重复的指令
s_attr_methods = set(dir(pd.Series))
len(s_attr_methods)

464

In [24]:
#查看DataFrame所有不重复的指令
df_attr_methods = set(dir(pd.DataFrame))
len(df_attr_methods)

460

In [25]:
#这两个集合中有多少共有的指令
len(s_attr_methods & df_attr_methods)

399

In [26]:
#选取director和actor_1_fb_likes两列
director = movie['director_name']
actor_1_fb_likes = movie['actor_1_facebook_likes']

In [27]:
#查看头部
director.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [28]:
actor_1_fb_likes.head()

0     1000.0
1    40000.0
2    11000.0
3    27000.0
4      131.0
Name: actor_1_facebook_likes, dtype: float64

In [30]:
#分别计数,最多显示10行
pd.set_option('max_rows',10)
director.value_counts()

Steven Spielberg            26
Woody Allen                 22
Clint Eastwood              20
Martin Scorsese             20
Spike Lee                   16
                            ..
Martyn Pick                  1
Britt Allcroft               1
Raymond De Felitta           1
Dominique Othenin-Girard     1
Henry Alex Rubin             1
Name: director_name, Length: 2397, dtype: int64

In [31]:
actor_1_fb_likes.value_counts()

1000.0     436
11000.0    206
2000.0     189
3000.0     150
12000.0    131
          ...
362.0        1
216.0        1
859.0        1
225.0        1
334.0        1
Name: actor_1_facebook_likes, Length: 877, dtype: int64

In [32]:
director.size

4916

In [33]:
director.shape

(4916,)

In [34]:
len(director)

4916

In [35]:
#director有多少非空值
director.count()

4814

In [38]:
actor_1_fb_likes.size

4916

In [39]:
#actor_1_fb_likes有多少非空值
actor_1_fb_likes.count()

4909

In [40]:
#actor_1_fb_likes的中位分位数
actor_1_fb_likes.quantile()

982.0

In [41]:
#求最小值、最大值、平均值、中位数、标准差、总和
actor_1_fb_likes.min(),actor_1_fb_likes.max(),\
actor_1_fb_likes.mean(),actor_1_fb_likes.median(),\
actor_1_fb_likes.std(),actor_1_fb_likes.sum()

(0.0, 640000.0, 6494.488490527602, 982.0, 15106.986883848185, 31881444.0)

In [42]:
#打印描述信息
actor_1_fb_likes.describe()

count      4909.000000
mean       6494.488491
std       15106.986884
min           0.000000
25%         607.000000
50%         982.000000
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, dtype: float64

In [43]:
director.describe()

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

In [45]:
actor_1_fb_likes.quantile(.25)

607.0

In [46]:
#各个十分之一分位数
actor_1_fb_likes.quantile([.1,.2,.3,.4,.5,.6,.7,.8,.9])

0.1      240.0
0.2      510.0
0.3      694.0
0.4      854.0
0.5      982.0
0.6     1000.0
0.7     8000.0
0.8    13000.0
0.9    18000.0
Name: actor_1_facebook_likes, dtype: float64

In [47]:
#非空值
director.isnull()

0       False
1       False
2       False
3       False
4       False
        ...
4911    False
4912     True
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [48]:
#填充缺失值
actor_1_fb_likes_filled = actor_1_fb_likes.fillna(0)
actor_1_fb_likes_filled.count()

4916

In [49]:
#删除缺失值
actor_1_fb_likes_dropped = actor_1_fb_likes.dropna()
actor_1_fb_likes_dropped.size

4909

In [50]:
#value_counts(normalize=True) 可以返回频率
director.value_counts(normalize=True)

Steven Spielberg            0.005401
Woody Allen                 0.004570
Clint Eastwood              0.004155
Martin Scorsese             0.004155
Spike Lee                   0.003324
                              ...
Martyn Pick                 0.000208
Britt Allcroft              0.000208
Raymond De Felitta          0.000208
Dominique Othenin-Girard    0.000208
Henry Alex Rubin            0.000208
Name: director_name, Length: 2397, dtype: float64

In [51]:
#判断是否有缺失值
director.hasnans

True

In [52]:
#判断是否是非缺失值,注意区别上面用到的isnull()函数
director.notnull()

0        True
1        True
2        True
3        True
4        True
        ...
4911     True
4912    False
4913     True
4914     True
4915     True
Name: director_name, Length: 4916, dtype: bool

# 6.在Series上使用运算符

In [53]:
pd.options.display.max_rows = 6

In [58]:
5 + 9 #加法

14

In [55]:
4 ** 2 #幂运算

16

In [56]:
a = 10 #赋值

In [57]:
5 <= 9 #小于等于

True

In [59]:
'abcde' + 'fg' #字符串拼接

'abcdefg'

In [60]:
not (5 <= 9) #非运算符

False

In [61]:
7 in [1,2,6] #in运算符

False

In [62]:
set([1,2,3]) & set([2,3,4]) #求交集

{2, 3}

In [63]:
#不支持列表和整数间的运算
[1,2,3] - 3

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [64]:
a = set([1,2,3])
a[0]  #集合不支持索引

TypeError: 'set' object does not support indexing

In [66]:
#选取imdb_score这列
imdb_score = movie['imdb_score']
imdb_score

0       7.9
1       7.1
2       6.8
       ...
4913    6.3
4914    6.3
4915    6.6
Name: imdb_score, Length: 4916, dtype: float64

In [67]:
#每列值加1
imdb_score + 1

0       8.9
1       8.1
2       7.8
       ...
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [68]:
#每列值乘以2.5
imdb_score * 2.5

0       19.75
1       17.75
2       17.00
        ...
4913    15.75
4914    15.75
4915    16.50
Name: imdb_score, Length: 4916, dtype: float64

In [69]:
#每列值对7取余
imdb_score // 7

0       1.0
1       1.0
2       0.0
       ...
4913    0.0
4914    0.0
4915    0.0
Name: imdb_score, Length: 4916, dtype: float64

In [70]:
#判断是否大于7
imdb_score > 7

0        True
1        True
2       False
        ...
4913    False
4914    False
4915    False
Name: imdb_score, Length: 4916, dtype: bool

In [71]:
#判断是否等于字符串
director == 'James Cameron'

0        True
1       False
2       False
        ...
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [72]:
#利用通用函数实现加法
imdb_score.add(1)

0       8.9
1       8.1
2       7.8
       ...
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [73]:
#利用通用函数实现乘法
imdb_score.mul(2.5)

0       19.75
1       17.75
2       17.00
        ...
4913    15.75
4914    15.75
4915    16.50
Name: imdb_score, Length: 4916, dtype: float64

In [75]:
#利用通用函数实现取余
imdb_score.floordiv(7)

0       1.0
1       1.0
2       0.0
       ...
4913    0.0
4914    0.0
4915    0.0
Name: imdb_score, Length: 4916, dtype: float64

In [76]:
#利用通用函数实现大于
imdb_score.gt(7)

0        True
1        True
2       False
        ...
4913    False
4914    False
4915    False
Name: imdb_score, Length: 4916, dtype: bool

In [77]:
#利用通用函数实现等于
director.eq('James Cameron')

0        True
1       False
2       False
        ...
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [78]:
#利用通用函数实现取模
imdb_score.astype(int).mod(5)

0       2
1       2
2       1
       ..
4913    1
4914    1
4915    1
Name: imdb_score, Length: 4916, dtype: int32

In [79]:
#a是int对象
a = type(1)
type(a)

type

In [80]:
#a是pandas.core.series.Series对象
a = type(imdb_score)
a([1,2,3])

0    1
1    2
2    3
dtype: int64

# 7.串联Series方法

In [83]:
#value_counts().head(3),计数，查看前三
director.value_counts().head(3)

Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Name: director_name, dtype: int64

In [ ]:
#统计缺失值得数量
actor_1_fb_likes.isnull().sum()

In [86]:
#actor_1_fb_likes的数据类型
actor_1_fb_likes.dtype

dtype('float64')

In [87]:
#缺失值填充为0、转换为整型、查看前五
actor_1_fb_likes.fillna(0)\
.astype(int)\
.head()

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int32

In [89]:
#缺失值比例
actor_1_fb_likes.isnull().mean()

0.0014239218877135883

In [92]:
#使用括号串联
(actor_1_fb_likes.fillna(0).astype(int).head())

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int32

# 8.使索引有意义

In [93]:
#set_index()给行索引命名
movie.shape

(4916, 28)

In [94]:
movie2 = movie.set_index('movie_title')
movie2

,color,director_name,num_critic_for_reviews,duration,...,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,...,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,...,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,...,393.0,6.8,2.35,85000
...,...,...,...,...,...,...,...,...,...
A Plague So Pleasant,Color,Benjamin Roberds,13.0,76.0,...,0.0,6.3,NaN,16
Shanghai Calling,Color,Daniel Hsia,14.0,100.0,...,719.0,6.3,2.35,660
My Date with Drew,Color,Jon Gunn,43.0,90.0,...,23.0,6.6,1.85,456

In [100]:
#通过index_col参数命名
pd.read_csv('data/movie.csv',index_col='movie_title')

,color,director_name,num_critic_for_reviews,duration,...,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,...,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,...,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,...,393.0,6.8,2.35,85000
...,...,...,...,...,...,...,...,...,...
A Plague So Pleasant,Color,Benjamin Roberds,13.0,76.0,...,0.0,6.3,NaN,16
Shanghai Calling,Color,Daniel Hsia,14.0,100.0,...,719.0,6.3,2.35,660
My Date with Drew,Color,Jon Gunn,43.0,90.0,...,23.0,6.6,1.85,456

In [101]:
#复原索引
movie2.reset_index()

,movie_title,color,director_name,num_critic_for_reviews,...,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Avatar,Color,James Cameron,723.0,...,936.0,7.9,1.78,33000
1,Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,...,5000.0,7.1,2.35,0
2,Spectre,Color,Sam Mendes,602.0,...,393.0,6.8,2.35,85000
...,...,...,...,...,...,...,...,...,...
4913,A Plague So Pleasant,Color,Benjamin Roberds,13.0,...,0.0,6.3,NaN,16
4914,Shanghai Calling,Color,Daniel Hsia,14.0,...,719.0,6.3,2.35,660
4915,My Date with Drew,Color,Jon Gunn,43.0,...,23.0,6.6,1.85,456

# 9.重命名行名和列名

In [102]:
#通过rename()重命名
movie = pd.read_csv('data/movie.csv',index_col='movie_title')
idx_rename = {'Avatar':'Ratava','Spectre':'Ertceps'}
col_rename = {'director_name':'Director Name','num_critic_for_reviews':'Critical Reviews'}
movie.rename(index=idx_rename,columns=col_rename).head()

,color,Director Name,Critical Reviews,duration,...,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,
Ratava,Color,James Cameron,723.0,178.0,...,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,...,5000.0,7.1,2.35,0
Ertceps,Color,Sam Mendes,602.0,148.0,...,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,...,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,...,12.0,7.1,NaN,0

In [112]:
index = movie.index
columns = movie.columns

index_list = index.tolist()
column_list = columns.tolist()

index_list[0] = 'Ratava'
index_list[2] = 'Ertceps'
column_list[1] = 'Director Name'
column_list[2] = 'Critical Reviews'

In [113]:
print(index_list[:5])

['Ratava', "Pirates of the Caribbean: At World's End", 'Ertceps', 'The Dark Knight Rises', 'Star Wars: Episode VII - The Force Awakens']

In [114]:
print(column_list)

['color', 'Director Name', 'Critical Reviews', 'duration', 'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name', 'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name', 'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link', 'num_user_for_reviews', 'language', 'country', 'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score', 'aspect_ratio', 'movie_facebook_likes']

In [115]:
movie.index = index_list

In [116]:
movie.columns = column_list

In [117]:
movie.head()

,color,Director Name,Critical Reviews,duration,...,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
Ratava,Color,James Cameron,723.0,178.0,...,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,...,5000.0,7.1,2.35,0
Ertceps,Color,Sam Mendes,602.0,148.0,...,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,...,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,...,12.0,7.1,NaN,0

# 10.创建、删除列

In [118]:
#通过[列名]添加新列
movie = pd.read_csv('data/movie.csv')
movie['has_seen'] = 0
movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes', 'has_seen'],
      dtype='object')

In [119]:
#给新列赋值
movie['actor_director_facebook_likes'] = (movie['actor_1_facebook_likes'] + 
                                         movie['actor_2_facebook_likes'] + 
                                         movie['actor_3_facebook_likes'] +
                                         movie['director_facebook_likes'])
movie['actor_director_facebook_likes'].isnull().sum()

122

In [120]:
#用all()检查是否所有的布尔值都为True
movie['actor_director_facebook_likes'] = movie['actor_director_facebook_likes'].fillna(0)
movie['is_cast_likes_more'] = (movie['cast_total_facebook_likes'] >= 
                               movie['actor_director_facebook_likes'])
movie['is_cast_likes_more'].all()

False

In [121]:
movie = movie.drop('actor_director_facebook_likes',axis='columns')
movie['actor_total_facebook_likes'] = (movie['actor_1_facebook_likes'] + 
                                      movie['actor_2_facebook_likes'] + 
                                      movie['actor_3_facebook_likes'])
movie['actor_total_facebook_likes'] = movie['actor_total_facebook_likes'].fillna(0)
movie['is_cast_likes_more'] = movie['cast_total_facebook_likes'] >= \
                        movie['actor_total_facebook_likes']
movie['is_cast_likes_more'].all()

True

In [124]:
movie['pct_actor_cast_like'] = (movie['actor_total_facebook_likes'] / 
                               movie['cast_total_facebook_likes'])
movie['pct_actor_cast_like'].min(),movie['pct_actor_cast_like'].max()

(0.0, 1.0)

In [125]:
movie.set_index('movie_title')['pct_actor_cast_like'].head()

movie_title
Avatar                                        0.577369
Pirates of the Caribbean: At World's End      0.951396
Spectre                                       0.987521
The Dark Knight Rises                         0.683783
Star Wars: Episode VII - The Force Awakens    0.000000
Name: pct_actor_cast_like, dtype: float64

In [126]:
#用insert()方法原地插入列
profit_index = movie.columns.get_loc('gross') + 1
profit_index

9

In [138]:
movie.insert(loc=profit_index,column='profit',value=movie['gross'] - movie['budget'])
movie.head()

,color,director_name,num_critic_for_reviews,duration,...,has_seen,is_cast_likes_more,actor_total_facebook_likes,pct_actor_cast_like
0,Color,James Cameron,723.0,178.0,...,0,True,2791.0,0.577369
1,Color,Gore Verbinski,302.0,169.0,...,0,True,46000.0,0.951396
2,Color,Sam Mendes,602.0,148.0,...,0,True,11554.0,0.987521
3,Color,Christopher Nolan,813.0,164.0,...,0,True,73000.0,0.683783
4,NaN,Doug Walker,NaN,NaN,...,0,True,0.0,0.000000